@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
 font-family: "Josefin Sans", sans-serif;
 font-optical-sizing: auto;
  font-style: normal;
}
.cursor-pointer {
cursor: pointer;
}
@keyframes spin {
100% {
transform: rotate(360deg);
}
}
spin-animation {
animation: spin 1s linear infinite;
}

.invoiceform input:focus,
.invoiceform textarea:focus,
.invoiceform select:focus {
box-shadow: none !important;
outline: none !important;
}